body{
    background-color: blue;
    text-align: center;
}

h1{
    color: white;
    border: white;
}

h5{
    color: white;
}

.contain{
    border: 5px solid white;
}

#child1{
    width: 40%;
    float: left;
    padding: 20px;
    color: white;
    padding-top: 20px;
}

#child2{
    width: 40%;
    float: right;
    padding: 20px;
    color: white;
    padding-top: 20px;
}
